.installationinformation
.metadata/
AllowedPackages.txt
DisallowedClasses.txt
MethodCosts.txt
version.txt

matchmaker/logs/
matchmaker/replays/
matchmaker/output
Uninstaller/
doc/
art/
music/
sound/
mapeditor/
lib/
bin/

/build.xml
*.jar
*.class*
*.project